@mixin OpenSansRegular {
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif;
}

@mixin OpenSansLight {
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

@mixin OpenSansBold {
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
}



@mixin input-placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    //for newer versions of Firefox
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin text-replace {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;

  border: 0;
}
