// SIZE
$mobile: 320px;
$tablet: 660px;
$desktop: 960px;

// COLORS
$text-color: #283645;
$text-white: #ffffff;
$text-red: #d22856;
$text-gray: #bec2c7;
$border-color: #e5e5e5;
$dark-blue: #1d2631;

$bg-side: #f2f2f2;

// TYPOGRAPHY
$font-p: 14px/24px "Open SansRegular", Arial, sans-serif;

$font-h1: 24px;
$font-h2: 18px;
$font-h3: 14px;