.btn-bordered {
	display: inline-block;
	margin-bottom: 20px;
	border-radius: 40px;
	border: 3px solid $text-white;
	padding: 12px 35px;
	font-size: 25px;
	font-weight: bold;
	color: $text-white;
	text-decoration: none;
	font-size: 18px;
}