.btn-bordered {
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 43px;

  font-weight: bold;
  font-size: 18px;
  color: $text-white;
  text-decoration: none;

  border: 3px solid $text-white;
  border-radius: 40px;

  &:hover {
    color: $text-red;

    background: $text-white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
    background: $text-white;
  }

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }
}
