.contacts {
	margin-bottom: 40px;

	&__header {
		font-size: $font-h1;
		font-weight: 200;
		background: $text-white;
		margin-bottom: 30px;
	}

	&__item {
		margin-bottom: 20px;
	}

	&__item-title {
		font-size: $font-h2;
		font-weight: bold;
	}

	&__item-content {
		display: block;
		font-size: $font-h1;
		color: $text-red;
		font-weight: 200;
		text-decoration: none;
		
	}

	@media (max-width: $mobile) {

			width: $mobile; 
			margin: 0 auto;
			text-align: center;
			padding: 0 20px;
			box-sizing: border-box;
	}
}
