.developer-copy {
	text-align: center;
	line-height: 34px;
	margin-bottom: 45px;

	a {
		display: inline-block;
		text-indent: -99999px;
		background: url(../img/htmlacademy_logo_footer.png) no-repeat;
		width: 27px;
		height: 34px;
		margin-left: 15px;
	}
}