.developer-copy {
  margin-bottom: 45px;

  line-height: 34px;
  text-align: center;

  a {
    display: inline-block;
    width: 27px;
    height: 34px;
    margin-left: 15px;

    text-indent: -99999px;

    background: url(../img/htmlacademy-red.svg) no-repeat;
  }
}
