.download {
  padding: 30px 20px 30px;

  text-align: center;
  color: #ffffff;

  background: $dark-blue;

  &__list {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-bottom: 36px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 55px;
    }

    li {
      display: inline-block;

      vertical-align: bottom;

      &:last-child a {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: block;
    width: 46px;
    height: 57px;
    margin-right: 35px;

    color: #ffffff;
    text-decoration: none;
    text-indent: -999999px;

    background: url("../img/apple-logo.svg") no-repeat;
  }

  &__item-dr {
    width: 42px;
    height: 47px;

    background-image: url("../img/android-logo.svg");
  }

  &__item-wd {
    width: 44px;
    height: 42px;

    background-image: url("../img/microsoft-logo.svg");
  }

  &__text {
    font-size: 14px;
    color: $text-white;
    line-height: 24px;

    @include OpenSansLight;

    @media (min-width: $tablet) {
      width: 300px;
      margin: 0 auto;
      font-size: 18px;
    }
  }

  .btn-bordered {

    @media (min-width: $desktop) {
      font-size: 21px;
      margin-bottom: 65px;
    }
  }

  @media (min-width: $mobile) {
    box-sizing: border-box;
    min-width: $mobile;
    margin: 0 auto;

    text-align: center;
  }

  @media (min-width: $tablet) {
    position: absolute;
    top: 350px;

    width: 319px;

    background: none;
  }

  @media (min-width: $desktop) {
    top: 420px;
    width: 355px;
    padding-top: 30px;
  }
}
