.download {
	background: $dark-blue;
	color: #ffffff;
	text-align: center;
  padding: 30px 20px 47px;

	&__list {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-bottom: 36px;
    }

		li {
			display: inline-block;
      vertical-align: bottom;

			&:last-child a {
				margin-right: 0;
			}
		}
	}

	&__item {
		display: block;
		margin-right: 35px;
		color: #ffffff;
		text-decoration: none;
		text-indent: -999999px;
		background: url("../img/apple-logo.svg") no-repeat;
		width: 46px;
		height: 57px;
	}

	&__item-dr {
		background-image: url("../img/android-logo.svg");
		width: 42px;
		height: 47px;
	}

	&__item-wd {
		background-image: url("../img/microsoft-logo.svg");
		width: 44px;
		height: 42px;
	}

	&__text {
		font-family: "Open SansLight", Arial, sans-serif;
    font-size: 14px;
		color: $text-white;

    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: 24px;
      width: 300px;
    }
	}

	@media (min-width: $mobile) {

			min-width: $mobile;
			margin: 0 auto;
			text-align: center;
			box-sizing: border-box;
	}

  @media (min-width: $tablet) {
      position: absolute;
      top: 350px;
      background: none;
      width: 319px;
    }
}

