.field-text {
  display: block;
  margin-bottom: 25px;

  &__text {
    display: block;
    margin-bottom: 15px;
    padding-left: 20px;

    font-size: $font-h3;
    color: $text-red;
    text-transform: uppercase;
  }

  &__text--center {
    margin-top: 15px;
    margin-bottom: 0;

    text-align: center;
  }

  input[type=text] {
    width: 100%;
    height: 63px;
    padding: 20px;
    outline: none;

    font-size: $font-h2;

    border: 2px solid $border-color;

    @include input-placeholder($text-color);

    &:disabled {
      background: $bg-side;
    }

    &:hover {
      border-color: $text-color;
    }

    &:active {
      border-color: $text-red;
    }
  }
}
