.field-range {
	display: block;
	margin-bottom: 25px;
	position: relative;

	&__title {
		font-size: $font-h3;
		color: $text-red;
		text-transform: uppercase;
    display: block;
    padding-left: 20px;
    margin-top: 15px;
    text-align: center;
	}


	input[type=range] {
		// display: none;
	}	

	input[type=range]:before {
		position: absolute;
	  top: -17px;
	  left: 50%;
	  margin-left: -10px;
	  content: attr(value);
	  display: block;
	  text-align: center;
	  width: 20px;
	  height: 10px;
	}

	&--bordered {
		padding-bottom: 25px;
		border-bottom: 2px solid $border-color;
	}
}