.field-range {
  position: relative;

  display: block;
  margin-bottom: 25px;

  &__inner {
    display: flex;
  }

  &__title {
    display: block;
    margin-top: 15px;
    padding-left: 20px;

    font-size: $font-h3;
    text-align: center;
    color: $text-red;
    text-transform: uppercase;
  }

  input[type=text] {
    width: 100%;
    height: 63px;
    padding: 20px;

    font-size: $font-h2;
    text-align: center;

    border: 2px solid $border-color;
    border-right: none;
    border-left: none;

    @include input-placeholder($text-color);

    &:disabled {
      background: $bg-side;
    }

    @media (min-width: $tablet) {
      width: 130px;

      background: none;
      border: none;
    }
  }

  &--bordered {
    margin-bottom: 35px;
    padding-bottom: 50px;

    border-bottom: 2px solid $border-color;
  }

  &__minus,
  &__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 63px;
    padding: 15px;

    background: $text-white;
    border: 2px solid $border-color;
    cursor: pointer;


    &:hover {
      border-color: $text-color;

    }

    &:active {
      border-color: $text-color;
      background: $text-color;

      &:before,
      &:after {
        background: $text-white;
      }
    }
  }

  &__minus {
    &:before {
      content: "";

      display: inline-block;
      width: 27px;
      height: 3px;

      background: $text-color;
    }
  }

  &__plus {
    &:before {
      content: "";

      display: inline-block;
      width: 27px;
      height: 3px;

      background: $text-color;
    }

    &:after {
      content: "";
      position: relative;
      left: -13px;

      display: inline-block;
      width: 3px;
      height: 23px;

      background: $text-color;
    }
  }
}
