.field-range {
	display: block;
	margin-bottom: 25px;
	position: relative;

  &__inner {
    display: flex;
  }

	&__title {
		font-size: $font-h3;
		color: $text-red;
		text-transform: uppercase;
    display: block;
    padding-left: 20px;
    margin-top: 15px;
    text-align: center;
	}

	input[type=text] {
		border: 2px solid $border-color;
    padding: 20px;
    width: 100%;
    font-size: $font-h2;
    height: 63px;
    @include input-placeholder($text-color);
    text-align: center;
    border-left: none;
    border-right: none;

    &:disabled {
      background: $bg-side;
    }
	}

	&--bordered {
		padding-bottom: 25px;
		border-bottom: 2px solid $border-color;
	}

  &__minus,
  &__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 61px;
    height: 63px;
    border: 2px solid $border-color;
    cursor: pointer;
    background: $text-white;
  }

  &__minus {

    &:before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 3px;
      background: $text-color;
    }
  }

  &__plus {

    &:before {
      content: "";
      display: inline-block;
      width: 27px;
      height: 3px;
      background: $text-color;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 23px;
      background: $text-color;
      position: relative;
      left: -13px;
    }

  }
}
