.main-form {
  margin-bottom: 50px;

  fieldset {
    border: none;

    @media (min-width: $tablet) {
      width: 620px;
      margin: 0 auto 60px;
      padding: 25px 58px 0;

      border: 1px solid $border-color;
    }

    @media (min-width: $desktop) {
      width: 940px;
    }
  }

  legend {
    position: relative;
    top: 45px;

    margin-bottom: 20px;
    padding: 0 20px;

    font-size: $font-h3;
    line-height: 18px;
    text-align: center;
    color: $text-red;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      top: 0;
    }
  }

  &__text {
    padding: 45px 20px 40px;

    font-size: $font-h3;
    line-height: 30px;
    text-align: center;

    @media (min-width: $tablet) {
      width: 520px;
      margin: 0 auto;
      padding-top: 90px;
      padding-bottom: 0;

      font-size: $font-h2;
    }

    @media (min-width: $desktop) {
      width: 780px;
    }
  }

  &__text--mob-hidden {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      width: auto;
      padding-top: 0;
      padding-bottom: 45px;
    }

    @media (min-width: $desktop) {
      display: inline-block;
      padding: 0 0 45px;
    }
  }

  &__app {
    padding: 70px 20px 10px;

    background: $bg-side;

    @media (min-width: $tablet) {
      background: $text-white;
    }
  }

  &__features {
    padding: 70px 20px 0;

    legend {
      margin-bottom: 18px;
    }

    @media (min-width: $tablet) {
    }
  }

  &__partners-list {
    overflow: hidden;

    counter-reset: myCounter;

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      padding-left: 83px;
    }

    > .main-form__partners-item {
      > .field-text {
        &:after {
          content: "Удалить";
          position: absolute;
          top: 50px;
          right: -90px;

          display: inline-block;

          cursor: pointer;

          @media (min-width: $desktop) {
            right: -120px;
          }
        }
      }
    }
  }

  &__partners-item {
    position: relative;

    float: right;
    width: 219px;

    list-style: none;

    &:first-child {
      margin-bottom: 10px;
    }

    &:before {
      content: "№";
      position: absolute;
      left: -38px;

      font-size: 14px;
      color: #d22856;
    }

    &:after {
      content: counter(myCounter);
      position: absolute;
      top: 29px;
      left: -61px;

      display: inline-block;
      width: 59px;
      height: 59px;

      line-height: 59px;
      text-align: center;
      color: $text-color;

      background: $bg-side;
      border: 2px solid $border-color;
      border-right: none;

      counter-increment: myCounter;
    }

    > ul {
      .main-form__partners-item {
        width: 100%;
      }

      .main-form__partners-item:before,
      .main-form__partners-item:after {
        content: none;
      }
    }

    @media (min-width: $tablet) {
      &:before {
        left: -58px;
      }

      &:after {
        left: -83px;

        border-right: 2px solid $border-color;
      }
    }

    @media (min-width: $tablet) {
      width: 300px;
    }

    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      width: 620px;

      .field-text {
        input[type=text] {
          width: 300px;
        }
      }
    }
  }

  &__required {
    font-size: $font-h3;
    text-align: center;
    text-transform: uppercase;

    span {
      color: $text-red;
    }

    @media (min-width: $tablet) {
      float: right;

      line-height: 58px;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}
