.main-form {
  margin-bottom: 50px;

	fieldset {
		border: none;

    @media (min-width: $tablet) {
      border: 1px solid $border-color;
      width: 620px;
      margin: 0 auto 60px;
      padding: 25px 58px 0;
    }
	}

	legend {
		color: $text-red;
		font-size: $font-h3;
		line-height: 18px;
		text-align: center;
		margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
    top: 45px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      top: 0;
    }
	}

	&__text {
		font-size: $font-h3;
	  line-height: 30px;
		text-align: center;
		padding: 45px 20px 40px;

    @media (min-width: $tablet) {
      font-size: $font-h2;
      width: 520px;
      margin: 0 auto;
      padding-top: 90px;
      padding-bottom: 0;
    }
	}

  &__text--mob-hidden {
    display: none;

    @media (min-width: $tablet) {
      display: block;
      padding-bottom: 46px;
      padding-top: 0;
    }
  }

	&__name {


    @media (min-width: $tablet) {
      border: none !important;
      padding: 0 !important;
    }
	}

	&__app {
		background: $bg-side;
		padding: 70px 20px 10px;

    @media (min-width: $tablet) {
      background: $text-white;
    }
	}

	&__when {
		padding: 70px 20px 15px;

    @media (min-width: $tablet) {
    }
	}

	&__partners {
		background: $bg-side;
		padding: 58px 20px 20px;

    @media (min-width: $tablet) {
      background: $text-white;
    }
	}

	&__features {
		padding: 70px 20px 0;

    legend {
      margin-bottom: 18px;
    }

    @media (min-width: $tablet) {

    }
	}

	&__photo {
		background: $bg-side;
		padding: 70px 20px 10px;

		legend {
			padding: 0;
      margin-bottom: 5px;
		}

    @media (min-width: $tablet) {
      background: $text-white;
      padding-bottom: 10px;
    }
	}

	&__end {
		padding: 50px 20px 15px;
	}


	&__partners-list {
		overflow: hidden;
		counter-reset: myCounter;
	}

	&__partners-item {
		list-style: none;
		width: 219px;
		float: right;
		position: relative;

    &:first-child {
      margin-bottom: 10px;
    }

		&:before {
			content: "№";
			position: absolute;
			left: -38px;
			font-size: 14px;
			color: #d22856;
		}

		&:after {
			counter-increment: myCounter;
			content:counter(myCounter);
			color: $text-color;
			background: $bg-side;
			display: inline-block;
			text-align: center;
			line-height: 59px;
			width: 59px;
			height: 59px;
			position: absolute;
			left: -61px;
			top: 29px;
			border: 2px solid $border-color;
			border-right: none;
		}

		> ul {

			.main-form__partners-item {
				width: 100%;
			}

			.main-form__partners-item:before,
			.main-form__partners-item:after {
				content: none;
			}
		}
	}

	&__required {
		text-align: center;
		font-size: $font-h3;
		text-transform: uppercase;

		span {
			color: $text-red;
		}
	}
}












