.page-form {

	.page-header {

		&:after {
			content: none;
		}
	}

	.page-header__title {
		padding-bottom: 57px;
    padding-top: 30px;

    @media (min-width: $tablet) {
      position: relative;
      width: 500px;
      top: inherit;
      left: inherit;
      font-size: 50px;
      line-height: 59px;
      padding-top: 70px;
      padding-bottom: 80px;
    }
	}
}
