.pagination-slider {

	&__item {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 8px;
		border-radius: 50%;
		border: 3px solid $text-white;
		background-color: $text-gray;
		box-sizing: border-box;

		&:hover {
			cursor: pointer;
			border: 3px solid $text-color;
			background-color: transparent;
		}
	}

	&__item--active {
		border: 3px solid $text-color;
		background-color: transparent;
	}

  &--gray {

    .pagination-slider__item {
      border-color: $bg-side;

      &:hover {
        border-color: $text-color;
      }
    }

    .pagination-slider__item--active {
      border-color: $text-color;
    }
  }
}
