.pagination-slider {
  &__item {
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin-right: 8px;

    background-color: $text-gray;
    border: 3px solid $text-white;
    border-radius: 50%;

    &:hover {
      background-color: #7e868f;
      cursor: pointer;
    }
  }

  &__item--active {
    background-color: transparent;
    border: 3px solid $text-color;
  }

  &--gray {
    .pagination-slider__item {
      border-color: $bg-side;

      &:hover {

      }
    }

    .pagination-slider__item--active {
      border-color: $text-color;
    }
  }
}
