.photo-list {
  display: flex;
  flex-wrap: wrap;

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__item {
    position: relative;

    margin-right: 39px;
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-right: 71px;

      img {
        width: 120px;
        height: 120px;
      }
    }

    @media (min-width: $desktop) {
      margin-right: 55px;

      &:nth-child(3n) {
        margin-right: 55px;
      }

      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  &__title {
    display: block;
    margin-top: 5px;

    font-size: 12px;
    color: $text-color;
  }

  &__close {
    position: absolute;
    top: -17px;
    right: -17px;

    display: block;
    width: 33px;
    height: 33px;

    background: $text-white;
    border: 2px solid $border-color;
    border-radius: 50%;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 14px;
      left: 9px;

      display: block;
      width: 11px;
      height: 2px;

      background: darken($border-color, 10%);
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 14px;
      left: 9px;

      display: block;
      width: 11px;
      height: 2px;

      background: darken($border-color, 10%);
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet) {
      top: -26px;
      right: -26px;

      width: 53px;
      height: 53px;

      &:before,
      &:after {
        top: 24px;
        left: 14px;

        width: 22px;
      }
    }

    &:hover {
      border-color: $text-color;

      &:before,
      &:after {
        background: $text-color;
      }
    }

    &:active {
      border-color: $text-color;
      background: $text-color;

      &:before,
      &:after {
        background: $text-white;
      }
    }
  }

  @media (min-width: $tablet) {
  }
}
