.promo {
	@include mobile;
	padding-bottom: 295px;
	background: $bg-side url("../img/iphone-bg.png") center 740px no-repeat;
	background-size: 157px 320px;
	overflow: hidden;
	position: relative;
	
	&__title {
		@include title;
		position: absolute;
		left: 0;
		width: 100%;
		padding-top: 40px;
	}

	&__title-text {
		display: block;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 75px;
		}
	}

	&__features {
		padding-top: 290px;

		&:before {
			content: "";
			display: block;
			height: 53px;
			width: 326px;
			transform: rotate(-6deg);
			margin-top: -58px;
			margin-left: -20px;
			background: $bg-side;
		}

		p { 
			font: $font-p;
		}
	}

	&__features-item {
		margin-bottom: 30px;
	}

	&__feature-title {
		font-size: $font-h2;
	}
}