.promo {
  position: relative;

  box-sizing: border-box;
  padding: 0 0 280px;
  overflow: hidden;

  text-align: center;

  background: $bg-side;

  &__title {
    width: 100%;
    padding: 40px 20px 5px;

    font-size: $font-h1;

    background: $text-white;

    @include OpenSansLight;

    @media (min-width: $tablet) {
      padding: 60px 20px 40px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 90px;
      padding-top: 80px;
    }
  }

  &__inner {
    &:after {
      content: "";
      position: absolute;
      bottom: -45px;

      display: block;
      width: 100%;
      height: 320px;

      background: url("../img/iphone-bg.png") center top no-repeat;
      background-size: 157px 320px;

      @media (min-width: $tablet) {
        top: 160px;

        width: 100%;
        height: 650px;

        background-image: url("../img/iphone-screen-tablet-3@1x.png");
        background-position: 5%;
        background-size: inherit;
      }

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-tablet-3@2x.png");
        background-size: 39%;
      }
    }

    @media (min-width: $desktop) {
      max-width: 960px;
      margin: 0 auto;

      &:after {
        content: none;
      }
    }
  }

  &__title-text {
    display: block;
    margin-bottom: 30px;

    line-height: 28px;

    @media (min-width: $tablet) {
      margin-bottom: 10px;

      font-size: 40px;

      &:last-child {
        width: 400px;
        margin: 0 auto;

        line-height: 48px;
      }
    }

    @media (min-width: $desktop) {
      margin-bottom: 17px;

      font-size: 50px;

      &:last-child {
        width: 450px;

        line-height: 58px;
      }
    }
  }

  &__features {
    position: relative;
    padding-top: 30px;

    p {
      font-size: 14px;
      line-height: 24px;

      @include OpenSansRegular;

      @media (min-width: $desktop) {
        font-size: $font-h2;
        letter-spacing: 0;

        @include OpenSansLight;
      }
    }

    @media (min-width: $tablet) {
      float: right;
      width: 320px;
      margin-right: 30px;
    }

    @media (min-width: $desktop) {
      display: flex;
      float: none;
      width: inherit;
      margin-right: 0;
      padding-top: 0;
    }
  }

  &__features-item {
    margin-bottom: 38px;
    padding: 0 20px;

    letter-spacing: 1px;

    &:first-child {
      padding-top: 20px;
    }

    @media (min-width: $tablet) {
      text-align: left;

      &:first-child {
        padding-top: 0;
      }
    }

    @media (min-width: $tablet) {
      &:last-child {
        margin-bottom: 18px;
      }
    }

    @media (min-width: $desktop) {
      position: relative;
      top: -90px;

      text-align: inherit;

      &:before {
        content: "";

        display: block;
        width: 292px;
        height: 302px;
        margin-bottom: 57px;

        background: url("../img/iphone-screen-desktop-1@1x.png") no-repeat;
      }

      &:nth-child(2) {
        &:before {
          background: url("../img/iphone-screen-desktop-2@1x.png") no-repeat;
        }
      }

      &:last-child {
        &:before {
          background: url("../img/iphone-screen-desktop-3@1x.png") no-repeat;
        }
      }
    }
  }

  &__feature-title {
    margin-bottom: 15px;

    font-weight: bold;
    font-size: $font-h2;

    @media (min-width: $desktop) {
      margin-bottom: 25px;

      font-size: 30px;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 0;
  }
}
