.social-links {
  margin-bottom: 35px;

  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    width: 56px;
    height: 56px;
    margin-right: 10px;

    text-indent: -99999px;

    background-position: center center;
    border: 2px solid $border-color;
    border-radius: 50%;

    &:hover {
      border-color: $text-color;
    }
  }

  &__tw {
    background: url(../img/twitter-red.svg) no-repeat;
  }

  &__fb {
    background: url(../img/facebook-red.svg) no-repeat;
  }

  &__yt {
    background: url(../img/youtube-red.svg) no-repeat;
  }
}
