.social-links {
	text-align: center;
	margin-bottom: 35px;

	li {
		display: inline-block;
	}

	a {
		display: block;
		text-indent: -99999px;
		height: 56px;
		width: 56px;
    border: 2px solid $border-color;
    border-radius: 50%;
    background-position: center center;
    margin-right: 10px;

	}

	&__tw {
		background: url(../img/twitter-red.svg) no-repeat;
	}

	&__fb {
		background: url(../img/facebook-red.svg) no-repeat;
	}

	&__yt {
		background: url(../img/youtube-red.svg) no-repeat;
	}
}
