.tariff {
	background: $bg-side;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 60px;
		position: absolute;
		top: 0;
		left: 0;
		// width: 326px;
		// transform: rotate(-6deg);
		// margin-top: -58px;
		// margin-left: -20px;
		background: $text-white;
	}

	&:after {
		content: "";
		display: block;
		width: 110%;
		height: 40px;
		position: absolute;
		top: 100px;
		transform: rotate(-5deg);
		margin-top: -58px;
		margin-left: -20px;
		background: $bg-side;
	}

	&__items {
		overflow: hidden;
		margin-bottom: 40px;
	}

	&__item {
		width: 280px;
		border-collapse: collapse;
		border: 2px solid $border-color;
		border-top: none;
		float: left;
		position: relative;
		overflow: hidden;

		thead {
			background: $text-color;
			text-align: center;
			color: $text-white;

			.tariff__item-text {
				font-size: $font-h2;
				font-weight: bold;
			}

			td {
				padding: 20px 0;
			}

			strong {
				font-size: $font-h1;
				font-weight: 200;
			}
		}

		tbody {
			
			tr {
				border: 2px solid $border-color;
			}

			td {
				font-size: $font-h3;
				padding: 20px 0;
				text-align: center;
			}

			td:first-child {
				padding-left: 20px;
				text-align: left;
			}
		}
	}

	&__item--hit {
		
		&:before {
			content: 'Хит';
		    display: inline-block;
		    color: $text-white;
		    background: $text-red;
		    font-size: $font-h3;
		    padding: 10px;
		    width: 100px;
		    text-align: center;
		    position: absolute;
		    top: 10px;
		    text-transform: uppercase;
		    transform: rotateZ(-45deg);
		    left: -32px;
		}
	}

	&__item-text {
		display: block;
		text-transform: uppercase;
	}

	&__item-icon {
		display: block;
		background: url("../img/yes.png") no-repeat;
		width: 29px;
		height: 22px;
		text-indent: -9999px;
	}

	&__item-icon--negative {
		background: url("../img/no.png") no-repeat;
		width: 26px;
		height: 26px;
	}

	@media (max-width: $mobile) {

			width: $mobile; 
			margin: 0 auto;
			text-align: center;
			padding: 120px 20px 40px;
			box-sizing: border-box;
	}
}

